// =============
// DEFAULT STYLES
// =============

$OFFWHITE: #FFFBE0;
$YELLOW: #F6EA8C;
$GOLD: #FFB400;
$PURPLE: #492540;
$ORANGE: #F26D5B;
$RED: #C03546;
$BLUE: #88A9F7;
$DARKGREY: #333333;

html, body {
	font-size: 62.5%;
	font-family: 'Karla', 'Arial', sans-serif;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 10rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2.5rem;
}

p {
	font-size: 1.4rem;
}

// =============
// HERO
// =============

header, footer {
	margin: 0 auto;
	background: black;
	color: white;
	padding: 20px;
}

header {
	height: 100vh;
	background: #333;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 50%;
	max-width: 900px;

	.cider {
		color: $BLUE;
	}

	button.use {
		background: transparent;
		border: 2px solid $YELLOW;
		width: 30%;
		margin-top: 30px;

		&:hover {
			background: $YELLOW;
			color: black;
		}

		p {
			color: $OFFWHITE;
			text-transform: uppercase;
			font-weight: bold;

			&:hover {
				color: black;
			}
		}

		a {
			color: $OFFWHITE;
		}
	}

	h1 {
		color: $YELLOW;
		text-shadow: 2px 2px black;
	}

	h2 {
		color: #CCCCCC;
		text-shadow: 2px 2px black;
	}

	h3 {
		color: white;
	}

	.top {
		width: 100%;
		align-self: center;
	}

	.bottom {
		width: 100%;
	}

	.top object {
		width: 30%;
	}

}

h5.buy {
	background: dodgerblue;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
}

h5.buy:hover {
	background:yellow;
	color: tomato;
}

a {
	color: papayaWhip;
	text-decoration: none;
}

a:hover {
	color: tomato;
}

.taste-section {
	height: 100vh;
	background: $YELLOW;
	color: $DARKGREY;

	h2 {
		padding: 20px 0;
		text-transform: uppercase;
		position: relative;
	}

}

.globalTaste {
	width: 100%;
	min-height: 30px;
	padding: 5%;
	display: inline-block;
	text-align: center;
	color: white;
}

.sweet {
	background: #591d77;
}

.dry {
	background: #600060;
}

.surpriseMe {
	background: #8b008b;
}


/*Radio Buttons as Buttons*/

.flexWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 20px;
	@media (max-width: 469px) {
			flex-wrap: wrap;
		}
	}

.beforeSelection {
	background: #ddd;
	border: 1px solid black;
}

.selectionMade {
	background: rebeccapurple;
	color: white;
}

label {
	padding: 20px;
	/*width:28%;*/
	height:100px;
	overflow:hidden;
	display:inline-block;
	cursor:pointer;
	@media (max-width: 469px) {
		width: 100%;
	}
}

input[type=radio]{
	display: none;
}

button {
	padding: 20px;
	display: block;
}

.subSweetChoices, .subDryChoices {
	display: none;
}

@media (max-width: 769px) {

	.subDryChoices .flexWrapper {
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.subSweetChoices .flexWrapper {
		width: 100%;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.subDryChoices .flexItem {
		width: 50%;
	}

	.subSweetChoices .flexItem {
		width: 33%;
	}

	.subDryChoices label {
		width: 90%;
	}

.ciderResult {
	width: 32%;
		@media (max-width: 769px) {
			width: 48%;
		}
		@media (max-width: 469px) {
				.ciderResult {
					width: 100%;
				}
		}
}

	button {
		background:yellow;
		border: 0;
	}

}

@media (max-width: 469px) {

		.flexItem {
			width:100%;
		}
}

#finalCiders {
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

figure {
	width: 100%;
}

img {
	display:block;
	width: 100%;
}

.wrapper {
	width: 50%;
	max-width: 900px;
	margin: 0 auto;
}

footer {
	margin-top: 20px;
}

figcaption {
	font-size: 2em;
	color: dodgerblue;
}

.subTastes {
	visibility: hidden;
}