// =============
// DEFAULT STYLES
// =============

$PEACH: #F3A871;
$LIGHTPEACH: #F9D3B8;
$DARKPEACH: #ed7b2a;
$ROSE: #F06161;
$LIGHTROSE: #F49090;
$CHARCOAL: #303841;
$YELLOW: #F6EA8C;

$OFFWHITE: #FFFBE0;
$GOLD: #FFB400;
$PURPLE: #492540;
$ORANGE: #F26D5B;
$RED: #C03546;
$BLUE: #88A9F7;
$DARKGREY: #333333;
$LEMON: #E9EC82;
$DUSTYROSE: #EB786B;

html, body {
	font-size: 62.5%;
	font-family: 'Karla', 'Arial', sans-serif;
	color: $CHARCOAL;
}

section, footer, header {
	padding: 20px;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.uppercase {
	text-transform: uppercase;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 10rem;

	@media (max-width: 768px) {
		font-size: 7rem;
	}
}

h2 {
	font-size: 3.5rem;

	@media (max-width: 768px) {
		font-size: 3rem;
	}

}

h2.heading {
	padding: 20px 0;
	text-transform: uppercase;
	position: relative;
}

h3 {
	font-size: 2.5rem;
}

p {
	font-size: 1.4rem;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.sweet {
	background: $PEACH;
}

.sweet-next {
	background: $LIGHTPEACH;
}

.dry {
	background: $LIGHTROSE;
}

.surpriseMe {
	background: $ROSE;
}

.flexWrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

// =============
// HERO
// =============

header, footer {
	margin: 0 auto;
	background: $DARKGREY;
	color: white;
}

footer {
	p {
		padding: 0;
		margin: 0;
		font-size: 2rem;
	}

	.wrapper {
		padding: 30px 0;
	}
}

header {
	min-height: 100vh;
	background: $CHARCOAL;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 50%;
	max-width: 900px;

	@media (max-width: 900px) {
		width: 100%;
	}

	.cider {
		color: $ROSE;
	}

	h1 {
		color: $PEACH;
		text-shadow: 2px 2px black;
	}

	h2 {
		color: $YELLOW;
		text-shadow: 2px 2px black;
	}

	.top {
		width: 100%;
		align-self: center;
		text-align: center;
	}

	.bottom {
		width: 100%;
		text-align: center;
	}

	.top object {
		width: 30%;
	}

}

// =============
// SELECT STYLE
// =============

.wrapper {
	width: 50%;
	max-width: 900px;
	margin: auto;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.style-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.globalTaste {
	border-radius: 10px;
	width: 100%;
	margin: 10px;
	text-align: center;

	@media (max-width: 768px) {
		height: 120px;
		width: 120px;
		border-radius: 15px;
	}

	@media (max-width: 425px) {
		height: 100px;
		width: 100px;
	}

}

// =============
// AFTER SELECTING A STYLE, SHOW THESE
// =============

.subSweetChoices, .subDryChoices {
	display: none;
}

.sweet-sub-choices,
.dry-sub-choices {
	min-height: 100vh;
}

.subDryChoices .flexItem {
		width: 15%;

		@media (max-width: 1100px) {
			width: 50%;
		}
	}

// =============
// TASTE SECTION
// =============

.taste-section {
	min-height: 100vh;
	background: $YELLOW;

	p {
		font-size: 2rem;
		text-align: center;
		padding: 30px;

		@media (max-width: 425px) {
			font-size: 1.4rem;
		}
	}
}

// =============
// WRAPPERS
// =============

.sweet-sub-choices .flexWrapper {
	justify-content: space-between;

	@media (max-width: 1100px) {
		justify-content: center;
	}
}

.sweet-sub-choices .showMeSuggestions {
	background: $YELLOW;
}

.dry-sub-choices .flexWrapper {
	justify-content: space-between;

	@media (max-width: 1100px) {
		justify-content: center;
	}
}

.dry-sub-choices .showMeSuggestions {
	background: $YELLOW;
}

// =============
// LABELS
// =============

.beforeSelection {
	@extend .globalTaste;
	@extend .sweet-next;
	box-shadow: 5px 5px 0px 0px $DARKPEACH;
	transition: all 0.3s ease-in-out;
}

.selectionMade {
	background: $DARKPEACH;
	color: white;
	box-shadow: 0px 0px 0px 0px $LIGHTPEACH;
}

label {
	padding: 20px;
	height: 100px;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
	@media (max-width: 469px) {
		width: 100%;
	}
}

input[type=radio]{
	display: none;
}


// =============
// BUTTONS
// =============

button {
	padding: 20px;
}

button.use {
	background: transparent;
	border: 2px solid $YELLOW;
	border-radius: 10px;
	width: 60%;
	margin-top: 30px;

	&:hover {
		background: $YELLOW;
		color: black;
	}

	p {
		color:  $PEACH;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2rem;

		&:hover {
			color: black;
		}
	}

	a {
		color: $OFFWHITE;
	}

	@media (max-width: 768px) {
		width: 50%;
	}
}

.showMeSuggestions {

	@extend button.use;
	text-align: center;
	width: 100%;

}

// =============
// RESULTS
// =============

.super-final-results {
	min-height: 100vh;
	background: white;
}

a {
	color: $YELLOW;
	text-decoration: none;
}

a:hover {
	color: $CHARCOAL;
}

#finalCiders,
.finalCiders {
	overflow: hidden;
	// display: flex;
	// justify-content: space-around;
	// flex-wrap: wrap;
}

.flex-results {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

figure {
	width: 100%;
}

.drinkImg {
	width: 100%;
}

// .ciderResult {

// 	width: 50%;
// 	display: inline-block;
// 	text-align: center;

// 	img {
// 		width: 100%;
// 		height: 100%;
// 	}

// 	@media (max-width: 769px) {
// 		width: 32%;
// 	}

// 	@media (max-width: 469px) {
// 		width: 100%;
// 	}
// }

// .again {
// 	@extend button.use;
// 	text-align: center;
// 	background: $DARKPEACH;
// 	width: 30%;
// 	 p {
// 	 	color: $YELLOW;
// 	 }
// }