// =============
// DEFAULT STYLES
// =============

$PEACH: #F3A871;
$LIGHTPEACH: #F9D3B8;
$DARKPEACH: #ed7b2a;
$ROSE: #F06161;
$LIGHTROSE: #F49090;
$CHARCOAL: #303841;
$YELLOW: #F6EA8C;

$OFFWHITE: #FFFBE0;
$GOLD: #FFB400;
$PURPLE: #492540;
$ORANGE: #F26D5B;
$RED: #C03546;
$BLUE: #88A9F7;
$DARKGREY: #333333;
$LEMON: #E9EC82;
$DUSTYROSE: #EB786B;

html, body {
	font-size: 62.5%;
	font-family: 'Karla', 'Arial', sans-serif;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 10rem;

	@media (max-width: 768px) {
		font-size: 7rem;
	}
}

h2 {
	font-size: 3.5rem;

	@media (max-width: 768px) {
		font-size: 3rem;
	}

}

h3 {
	font-size: 2.5rem;
}

p {
	font-size: 1.4rem;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

// =============
// HERO
// =============

header, footer {
	margin: 0 auto;
	background: black;
	color: white;
	padding: 20px;
}

header {
	min-height: 100vh;
	background: $CHARCOAL;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 50%;
	max-width: 900px;

	.cider {
		color: $ROSE;
	}

	button.use {
		background: transparent;
		border: 2px solid $YELLOW;
		width: 30%;
		margin-top: 30px;

		&:hover {
			background: $YELLOW;
			color: black;
		}

		p {
			color:  $PEACH;
			text-transform: uppercase;
			font-weight: bold;

			&:hover {
				color: black;
			}
		}

		a {
			color: $OFFWHITE;
		}

		@media (max-width: 768px) {
			width: 50%;
		}
	}

	h1 {
		color: $PEACH;
		text-shadow: 2px 2px black;
	}

	h2 {
		color: $YELLOW;
		text-shadow: 2px 2px black;
	}

	h3 {
		color: white;
	}

	.top {
		width: 100%;
		align-self: center;
	}

	.bottom {
		width: 100%;
	}

	.top object {
		width: 30%;
	}

}

// =============
// SELECT STYLE
// =============

.taste-section {
	display: flex;

	@media (max-width: 425px) {
		padding: 40px;
	}
}

.taste-section .flex {
	height: content;
	max-width: 600px;
	width: 80%;
	margin: auto;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.style-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.globalTaste {
	border-radius: 10%;
	height: 150px;
	width: 150px;
	text-align: center;
	color: white;

	@media (max-width: 768px) {
		height: 120px;
		width: 120px;
	}

	@media (max-width: 425px) {
		height: 100px;
		width: 100px;
	}

}

// =============
// AFTER SELECTING A STYLE, SHOW THESE
// =============

.sweet-sub-choices,
.dry-sub-choices {
	height: 100vh;
}

.sweet-sub-choices {
	background: $GOLD;
}

.dry-sub-choices {
	background: $YELLOW;
}

// =============
// RESULTS
// =============

.super-final-results {
	height: 100vh;
	background: pink;
}

h5.buy {
	background: dodgerblue;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
}

h5.buy:hover {
	background: yellow;
	color: tomato;
}

a {
	color: papayaWhip;
	text-decoration: none;
}

a:hover {
	color: $CHARCOAL;
}

h2.heading {
	padding: 20px 0;
	text-transform: uppercase;
	position: relative;
}

.taste-section {
	height: 100vh;
	background: $YELLOW;
	color: $DARKGREY;

	p {
		font-size: 2rem;
		text-align: center;
		margin-top: 65px;

		@media (max-width: 425px) {
			font-size: 1.4rem;
			margin-top: 45px;
		}
	}

}

.sweet {
	background: $PEACH;
}

.sweet-next {
	background: $LIGHTPEACH;
}

.dry {
	background: $LIGHTROSE;
}

.surpriseMe {
	background: $ROSE;
}


/*Radio Buttons as Buttons*/

.flexWrapper {
	display: flex;
	width: 100%;
	padding-top: 20px;
	@media (max-width: 469px) {
			flex-wrap: wrap;
		}
	}

.sweet-sub-choices .flexWrapper {
	justify-content: space-around;
}

.beforeSelection {
	@extend .globalTaste;
	@extend .sweet-next;
	box-shadow: 5px 5px 0px 0px $DARKPEACH;
}

.selectionMade {
	background: rebeccapurple;
	color: white;
}

label {
	padding: 20px;
	/*width:28%;*/
	height:100px;
	overflow:hidden;
	display:inline-block;
	cursor:pointer;
	@media (max-width: 469px) {
		width: 100%;
	}
}

input[type=radio]{
	display: none;
}

button {
	padding: 20px;
	display: block;
}

.subSweetChoices, .subDryChoices {
	display: none;
}