@media (max-width: 769px) {

	.subDryChoices .flexWrapper {
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.subSweetChoices .flexWrapper {
		width: 100%;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.subDryChoices .flexItem {
		width: 50%;
	}

	.subSweetChoices .flexItem {
		width: 33%;
	}

	.subDryChoices label {
		width: 90%;
	}
}

@media (max-width: 469px) {
	.flexItem {
		width:100%;
	}
}