article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  font-family: 'Karla', 'Arial', sans-serif;
  color: #303841;
}

a {
  color: #F6EA8C;
  text-decoration: none;
}

a:hover {
  color: #303841;
}

section, footer, header {
  padding: 20px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}

@media (max-width: 340px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 236px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 340px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 236px) {
  h2 {
    font-size: 1.6rem;
  }
}

h2.heading {
  padding: 20px 0;
  text-transform: uppercase;
  position: relative;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.sweet {
  background: #F3A871;
}

.sweet-next, .subSweetChoices .beforeSelection, .subDryChoices .beforeSelection {
  background: #F9D3B8;
}

.dry {
  background: #F49090;
}

.surpriseMe {
  background: #F06161;
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header, footer {
  margin: 0 auto;
  background: #333333;
  color: white;
}

footer p {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

footer .wrapper {
  padding: 30px 0;
}

header {
  min-height: 100vh;
  background: #303841;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  max-width: 900px;
}

@media (max-width: 900px) {
  .hero {
    width: 100%;
  }
}

.hero h1 {
  color: #F3A871;
  text-shadow: 2px 2px black;
}

.hero h2 {
  color: #F6EA8C;
  text-shadow: 2px 2px black;
}

.hero .top {
  width: 100%;
  align-self: center;
  text-align: center;
}

.hero .bottom {
  width: 100%;
  text-align: center;
}

.hero .top object {
  width: 30%;
}

.wrapper {
  width: 50%;
  max-width: 900px;
  margin: auto;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

.style-wrapper {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .style-wrapper {
    width: 100%;
  }
}

.globalTaste, .subSweetChoices .beforeSelection, .subDryChoices .beforeSelection {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
}

.subSweetChoices, .subDryChoices {
  display: none;
}

.sweet-sub-choices,
.dry-sub-choices {
  display: none;
  min-height: 100vh;
}

.flexItem {
  width: 100%;
  font-weight: bold;
}

.subSweetChoices .flexItem {
  color: #ed7b2a;
}

.subDryChoices .flexItem {
  color: #F06161;
}

.taste-section {
  display: none;
  min-height: 100vh;
  background: #F6EA8C;
}

.taste-section a {
  margin: auto;
}

.taste-section p {
  font-size: 2rem;
  text-align: center;
  padding: 30px;
  vertical-align: middle;
}

@media (max-width: 260px) {
  .taste-section p {
    padding: 2px;
  }
}

.sweet-sub-choices .flexWrapper {
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .sweet-sub-choices .flexWrapper {
    justify-content: center;
  }
}

.sweet-sub-choices .showMeSuggestions {
  background: #F6EA8C;
}

.dry-sub-choices .flexWrapper {
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .dry-sub-choices .flexWrapper {
    justify-content: center;
  }
}

.dry-sub-choices .showMeSuggestions {
  background: #F6EA8C;
}

.subSweetChoices .beforeSelection {
  box-shadow: 5px 5px 0px 0px #ed7b2a;
  transition: all 0.3s ease-in-out;
}

.subDryChoices .beforeSelection {
  box-shadow: 5px 5px 0px 0px #F06161;
  transition: all 0.3s ease-in-out;
}

.subSweetChoices .selectionMade {
  background: #F6EA8C;
  box-shadow: 0px 0px 0px 0px #F9D3B8;
}

.subDryChoices .selectionMade {
  background: #F6EA8C;
  box-shadow: 0px 0px 0px 0px #F9D3B8;
}

label {
  padding: 20px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 469px) {
  label {
    width: 100%;
  }
}

input[type=radio] {
  display: none;
}

.button {
  padding: 20px;
  border-radius: 10px;
  display: block;
  margin: 20px auto 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  width: 60%;
}

.subSweetChoices .button:hover {
  background: #F3A871;
  color: #F6EA8C;
}

.subSweetChoices p {
  color: #ed7b2a;
}

.subDryChoices p {
  color: #F06161;
}

.subDryChoices .button:hover {
  background: transparent;
}

.use, .showMeSuggestions {
  background: transparent;
  border: 2px solid #F6EA8C;
}

.hero .use, .hero .showMeSuggestions {
  color: #F3A871;
}

a.use:hover, a.showMeSuggestions:hover {
  color: #F6EA8C;
}

.cider {
  color: #F06161;
}

.cider:hover {
  color: #F6EA8C;
}

a {
  color: #FFFBE0;
}

.showMeSuggestions {
  text-align: center;
  width: 100%;
}

.super-final-results {
  display: none;
  min-height: 100vh;
  background: white;
}

.super-final-results a {
  color: #F3A871;
  text-decoration: none;
}

.super-final-results a:hover {
  color: #303841;
}

#finalCiders,
.finalCiders {
  overflow: hidden;
}

.flex-results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

figure {
  width: 100%;
}

.drinkImg {
  width: 100%;
}
